<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/regform.css" type="text/css">
</head>
<body>
    <h3>send notification mail to the original owner of <span id="vin"> <%=data %> </span></h3>
    <form action="/mailto" method="POST">
        <div class="form-group">
            <label for="carLoc"> Where was the car seen?</label>
            <select name="stateSeen" class="form-control" id="stateStolen" required>
                <option value="Null">State</option>
                <option value="Abia">Abia State</option>
                <option value="Adamawa">Adamawa State</option>
                <option value="Akwa-ibom">Akwa-ibom State</option>
                <option value="Anambra">Anambra State</option>
                <option value="Bauch">Bauch State</option>
                <option value="Bayelsa">Bayelsa State</option>
                <option value="Benue">Benue State</option>
                <option value="Borno">Borno State</option>
                <option value="Cross-Rivers">Cross-Rivers State</option>
                <option value="Delta">Delta State</option>
                <option value="Ekiti">Ekiti state</option>
                <option value="Ebonyi">Ebonyi State</option>
                <option value="Edo">Edo State</option>
                <option value="Gombe">Gombe State</option>
                <option value="Imo">Imo state</option>
                <option value="Jigawa">Jigawa State</option>
                <option value="Kaduna">Kaduna State</option>
                <option value="Kanu">Kanu State</option>
                <option value="Kebbi">Kebbi State</option>
                <option value="Kogi">Kogi State</option>
                <option value="Kwara">Kwara State</option>
                <option value="Lagos">Lagos State</option>
                <option value="Nassarawa">Nassarawa State</option>
                <option value="Niger">Niger State</option>
                <option value="Ogun">Ogun State</option>
                <option value="Ondo">Ondo State</option>
                <option value="Osun">Osun State</option>
                <option value="Oyo">Oyo State</option>
                <option value="Plateau">Plateau State</option>
                <option value="Rivers">Rivers State</option>
                <option value="Sokoto">Sokoto State</option>
                <option value="Taraba">Taraba state</option>
                <option value="Yobe">Yobe state</option>
                <option value="Zamfara">Zamfara state</option>
                <option value="Abuja">Abuja</option>
                
            </select>
        </div>
        <div class="form-group">
            <label for="placeSeen">Location seen?</label>
            <input type="text" required class="form-control" name="placeSeen" placeholder="e.g Ujualebga lagos ">
        </div>
            <div class="form-group">
                <label for="sellersName">Sellers name (optionl}</label>
                <input type="text" class="form-control" name="sellersName">
            </div>
        <div class="form-group">
            <label for="extra">Additional info (optional)</label>
            <textarea class="form-control" name="extra" cols="30" rows="10" >Enter additional information that could be helpful in the recovery of the car</textarea>
        </div>
        <div class="form-group">
            <label for="vin">car VIN</label>
            <input type="text" required class="form-control" name="vin" readonly value="<%= data %> ">
        </div>
        <P id="mailStatus"></P>
        <input type="submit" id="send" value="Send">

    </form>
    <script src="/public/javascript/jquery-3.3.1.min.js"></script>
    <script src="/dist/mail.min.bundle.js"></script>
</body>
</html>