body{
    background-color: #212121;
    color: #bdbdbd;
}
#tabs{
    
    height: 37px;
    width: 99%;
    background-color: #424242;
    border-bottom: 2px black bold;
    border-radius: 10px 10px 10px 10px;
}
ol > li{
    display: block;
}
li{
    display: inline;
}
#tabs >ul > li> a{
    background-color: #616161;
    margin-right: 1px;
    color: #bdbdbd;
    border-radius: 20px 20px 0px 0px;
    text-decoration: none;
    font-weight: bold;
    top:10;
    border-bottom: 5px solid #424242;
    padding: 10px;
    margin-top: 10px;

}
h3{
    margin-top: 50px;
    color: #f57f17;
}
p{
    text-justify: auto;
    padding: 5px;
}