body{
    background-color: #212121;
    color: #bdbdbd;
}
.form-control{
    background-color: #616161;
    color: white
}
div, #name {
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
}
#register, #post, #remove, #send{
    
    background-color: #424242;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    border: 2px solid #bdbdbd;
}
h3, #h3, #error{
    color: #f57f17;
}

fieldset {
    
    border: 1px solid #424242;
    background-color: #424242;
    border-radius: 10px;
    padding: 20px;
    
}
    legend {
    background-color: #424242;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    color: #bdbdbd;
    text-transform: uppercase;
}
.disclaimer{
    background-color: #424242;
    width: 100%;
    color: #bdbdbd;
    margin: 0px;
    text-align: center;
}
.comments > #username{
    font-weight: bold

}
/*
*Stats CSS below
*/
#statsErr{
    text-align: center;
    font-style: italic;
    margin-top: 30%;
}
/*
*The generated car tempate CSS goes below
*/
#stolenCar{
    width: 30%;
    height: 150px;
    margin-left: 5px;
    margin-top: 5px;
}
li{
    list-style-type: none;
}
#car{
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    background-color: #424242;
}
#info{
text-align: center;
color: #f57f17;
}
